---
title: About Me
date: 2019-05-20 01:00:51
layout: page
---
<!-- BEGIN SIDEBAR & CONTENT -->
<div class="row margin-bottom-40">
  <!-- BEGIN CONTENT -->
  <div class="col-md-12 col-sm-12">
    <div class="content-page">
      <div class="row margin-bottom-30">
	<!-- BEGIN INFO BLOCK -->               
	<div class="col-md-7">
	  <h2 class="no-top-space">Making a Positive Difference</h2>
		<p>Doing meaningful work is important to me - work that builds community, empowers individuals, helps the marginalized.
		<p>I’ve always enjoyed understanding why things work the way they do, from the big-picture of how political or social institutions create culture and effect resources, to how computer connect with each other via a global network. I also like to roll up my sleeves and modify, build, create - from building a touring bicycle or computer with my own hands, or creating a residential home, school, art installation, or day program side by side with teammates, I love the process of working to create positive solutions. These make us better and happier as individuals and as a community, and gives deeper meaning to life.
    <p><b>Preparation</b>:
				Information Systems is where I want to become the most knowledgeable and effective, combining my self-taught coding and networking knowledge with my project management background, both practical and academic. I’ve served as a volunteer at various maker spaces in the Bay Area, Portland, and now Seattle to continue learning about the integration of coding with electronics and microcontrollers to build art and things that will help enhance lives. To tie everything together, I have recently enrolled in a graduate degree program, specifically Information Systems at the Foster School of Business at the University of Washington.  I will be learning technical skills such as AI and Machine Learning, extending my experience working with Cloud Computing, and learning management techniques specifically for this burgeoning industry. My goal is to become a more effective team leader so that I can work collaboratively to build innovative and empowering solutions for today and tomorrow’s world.  I also hope to leverage my previous experience as an AWS Certified Architect and as a web developer.
		</p>

		<p><b>Key Points:</b>
				I have a variety of interests, mostly because this world is so vast, rich, and interesting! My love for discovery is reflected in extended explorations on a kayak, bicycle, BWW motorcycle, or even with just a backpack. I also enjoy learning and hacking with new tools such as laser-cutters, 3D printers, CNC milling, and many more. I’ve recently started to create art installations for public spaces, incorporating meta-themes as a backdrop to the IoT technology, code, as well as aesthetic considerations. Collaboration, relationships, and community remain very important to me; I am still engaged in inter-religious dialogue through various communities in the area, as well as working with other makers at various maker spaces and coding events.
		</p>

		<p><b>Call To Action:</b>
				I have chosen to make Information Systems the topic in which I wish to become an expert. I want to see the broad picture clearly, be able to roll up my sleeves and build directly, and work collaboratively with other individuals who are passionate about making a positive, creative difference. IS is an area which will continue to grow in an increasingly connected world. The field offers vast opportunities to empower marginalized and disempowered individuals and communities, enhance community, support positive perspectives and personal growth, and create systems that can be used to replace of existing - even outmoded - ones.
		</p>

		<p><b>Philosophy and Approach:</b>
				When I studied political science, I oftentimes felt like, as an individual, I would not be able to make significant differences in people’s lives without having a particular background. As a paramedic, I enjoyed helping individuals, yet wanted to work on a more proactive level as well. As a social worker, I enjoyed working with powerful tools that are available to larger institutions, yet the emerging predominance of IT in the world offers unheard-of opportunity for do-gooders to have access to - and effectively use - tools that can be leveraged on a global scale. 
		</p>		
		<p><b>Wrap Up</b>
				If what I have written here somehow inspires you, please join me in working for solutions to disrupt systems that may need disrupting, to build products that will empower, strengthen, and help support positive growth, and to build teams using effective strategies and tools to truly change the world as we know it today.
		</p>


	  <!-- BEGIN LISTS -->
	  <div class="row front-lists-v1">
	    <div class="col-md-6">
	      <ul class="list-unstyled margin-bottom-20">
		<li><i class="fa fa-check"></i> I enjoy motorycle touring, bike touring, and sea kayaking, and backpack touring.</li>
		<li><i class="fa fa-check"></i> I'm currently studying Cloud Computing, Machine Learning at Foster Business School.</li>
	      </ul>
	    </div>
	    <div class="col-md-6">
	      <ul class="list-unstyled">
		<li><i class="fa fa-check"></i> I enjoy making multimedia art and interactive art installations. </li>
		<li><i class="fa fa-check"></i> Building community and creating artistic, supportive environments is important.</li>
		<li><i class="fa fa-check"></i> I'm learning to play the guitar. </li>
	      </ul>
	    </div>
	  </div>
	  <!-- END LISTS -->
	</div>
	<!-- END INFO BLOCK -->   

  </div>

  <div class="row margin-bottom-40">

  </div>

	<br>
<br>
<h3> Things that I like..</h3>

      <div class="row front-team">
	<ul class="list-unstyled">
	  <li class="col-md-3">
	    <div class="thumbnail">
              <img src='https://s3-us-west-2.amazonaws.com/davethemaker.com/assets/Coding_450_450.png'>
	      <h3>
		<strong><a href="http://david-made.com/"></a>Learning & Making With Code</a></strong> 
		<small>Where code meets atoms, sweat, and inspiration.</small>
				</h3>
				<p>I think coding is really interesting - there's the theoretical complexity of learning systems.</p>
			  <p>But it's more than that - you can actually build something, from start to finish. It's really satisfying.</p>
	    </div>
	  </li>
	  <li class="col-md-3">
	    <div class="thumbnail">
              <img src='https://s3-us-west-2.amazonaws.com/davethemaker.com/assets/Dakar2008_450_450_blue.png'>
	      <h3>
		<strong>Adventures</strong> 
		<small>Rock climbing, Mountaineering, kayaking, bike touring.</small>
				</h3>
				<p>I love outdoor adventures that push me to the limit, of being self-supporting for days on end. Adventuring into, for me, the unknown.</p>
	    </div>
	  </li>
	  <li class="col-md-3">
	    <div class="thumbnail">
              <img src='https://s3-us-west-2.amazonaws.com/davethemaker.com/assets/AKFerry_450_450.png'>
	      <h3>
		<strong>Travel</strong> 
		<small>I enjoy packing light, nimbly living on a budget, experiencing and appreciating different c </small>
				</h3>
				<p>Travel to Alaska, India, Europe, South America, Australia. And more to come..</p>
	    </div>
	  </li>
	  <li class="col-md-3">
	    <div class="thumbnail">
              <img src='https://s3-us-west-2.amazonaws.com/davethemaker.com/assets/Lumenary_At_Night_450_450.jpg'>
	      <h3>
		<strong>Creativity & Art</strong> 
		<small>I love the conversation and experience around thinking outside the box, embracing new paradigms.</small>
				</h3>
				<p>Coming up with an idea, designing it. Creating an aesthetic enclosure made of wood, glass, electronics, microcontrollers, sensors. Using code and cloud connectivity to provide intelligence.</p>
				<p>You can see some of my work <a href="http://david-made.com/">here</a></p>
	    </div>
	  </li>
	</ul>            
      </div>

    </div>
  </div>
  <!-- END CONTENT -->
</div>
<!-- END SIDEBAR & CONTENT -->
