---
title: About Me
date: 2019-05-20 01:00:51
layout: page
---
<!-- BEGIN SIDEBAR & CONTENT -->
<div class="row margin-bottom-40">
  <!-- BEGIN CONTENT -->
  <div class="col-md-12 col-sm-12">
    <div class="content-page">
      <div class="row margin-bottom-30">
	<!-- BEGIN INFO BLOCK -->               
	<div class="col-md-7">
	  <h2 class="no-top-space">Coder, Maker, IoT Artist</h2>
		<p>Doing meaningful work is important to me - work that builds community, empowers individuals, helps the marginalized.
			<ul>
				<li>I worked as a social worker helping persons with developmental disabilities live in the community.</li>
				<li>As a paramedic, I helped the injured in the streets of San Francisco following the 9/11 tragedy.</li>
				<li>As a community organizer, worked for low-income housing initiatives in Oakland.</li>
				<li>Provided as a primary caregiver for my sister when she was diagnosed with cancer.</li>
				<li>I volunteered to build a school in rural India using natural resources.</li>
			</ul>
		<p></p>
		<p>I'm now focused on making helpful solutions at the intersection of where code meets atoms through apps and IoT. </p>
		
	  <!-- BEGIN LISTS -->
	  <div class="row front-lists-v1">
	    <div class="col-md-6">
	      <ul class="list-unstyled margin-bottom-20">
		<li><i class="fa fa-check"></i> I enjoy motorycle touring, bike touring, and sea kayaking, and backpack touring.</li>
		<li><i class="fa fa-check"></i> I'm currently studying Cloud Computing, Machine Learning at Foster Business School.</li>
		<li><i class="fa fa-check"></i> I like rock climbing as part of mountaineering.</li>
	      </ul>
	    </div>
	    <div class="col-md-6">
	      <ul class="list-unstyled">
		<li><i class="fa fa-check"></i> I enjoy making multimedia art and interactive art installations. </li>
		<li><i class="fa fa-check"></i> Building community and creating artistic, supportive environments is important.</li>
		<li><i class="fa fa-check"></i> I'm learning to play the guitar. </li>
	      </ul>
	    </div>
	  </div>
	  <!-- END LISTS -->
	</div>
	<!-- END INFO BLOCK -->   

  </div>

  <div class="row margin-bottom-40">

  </div>

	<br>
<br>
<h3> Things that I like..</h3>

      <div class="row front-team">
	<ul class="list-unstyled">
	  <li class="col-md-3">
	    <div class="thumbnail">
              <img src='https://s3-us-west-2.amazonaws.com/davethemaker.com/assets/Coding_450_450.png'>
	      <h3>
		<strong><a href="http://david-made.com/"></a>Learning & Making With Code</a></strong> 
		<small>Where code meets atoms, sweat, and inspiration.</small>
				</h3>
				<p>I think coding is really interesting - there's the theoretical complexity of learning systems.</p>
			  <p>But it's more than that - you can actually build something, from start to finish. It's really satisfying.</p>
	    </div>
	  </li>
	  <li class="col-md-3">
	    <div class="thumbnail">
              <img src='https://s3-us-west-2.amazonaws.com/davethemaker.com/assets/Dakar2008_450_450_blue.png'>
	      <h3>
		<strong>Adventures</strong> 
		<small>Rock climbing, Mountaineering, kayaking, bike touring.</small>
				</h3>
				<p>I love outdoor adventures that push me to the limit, of being self-supporting for days on end. Adventuring into, for me, the unknown.</p>
	    </div>
	  </li>
	  <li class="col-md-3">
	    <div class="thumbnail">
              <img src='https://s3-us-west-2.amazonaws.com/davethemaker.com/assets/AKFerry_450_450.png'>
	      <h3>
		<strong>Travel</strong> 
		<small>I enjoy packing light, nimbly living on a budget, experiencing and appreciating different c </small>
				</h3>
				<p>Travel to Alaska, India, Europe, South America, Australia. And more to come..</p>
	    </div>
	  </li>
	  <li class="col-md-3">
	    <div class="thumbnail">
              <img src='https://s3-us-west-2.amazonaws.com/davethemaker.com/assets/Lumenary_At_Night_450_450.jpg'>
	      <h3>
		<strong>Creativity & Art</strong> 
		<small>I love the conversation and experience around thinking outside the box, embracing new paradigms.</small>
				</h3>
				<p>Coming up with an idea, designing it. Creating an aesthetic enclosure made of wood, glass, electronics, microcontrollers, sensors. Using code and cloud connectivity to provide intelligence.</p>
				<p>You can see some of my work <a href="http://david-made.com/">here</a></p>
	    </div>
	  </li>
	</ul>            
      </div>

    </div>
  </div>
  <!-- END CONTENT -->
</div>
<!-- END SIDEBAR & CONTENT -->
