---
title: About Me
date: 2019-05-20 01:00:51
layout: page
---
<!-- BEGIN SIDEBAR & CONTENT -->
<div class="row margin-bottom-40">
  <!-- BEGIN CONTENT -->
  <div class="col-md-12 col-sm-12">
    <div class="content-page">
      <div class="row margin-bottom-30">
	<!-- BEGIN INFO BLOCK -->               
	<div class="col-md-7">
	  <h2 class="no-top-space">Coder, Maker, IoT Artist</h2>
	  <p>I love contibuting in positive ways, using code, working with electronics, collaboratively, independently.</p> 
	  <p>I enjoy the intersection of where code meets atoms meets helping people.</p>
	  <!-- BEGIN LISTS -->
	  <div class="row front-lists-v1">
	    <div class="col-md-6">
	      <ul class="list-unstyled margin-bottom-20">
		<li><i class="fa fa-check"></i> full-stack web developer (MERN)</li>
		<li><i class="fa fa-check"></i> studying Information Systems (MSIS @ Foster)</li>
		<li><i class="fa fa-check"></i> Cloud computing (AWS Architect)</li>
	      </ul>
	    </div>
	    <div class="col-md-6">
	      <ul class="list-unstyled">
		<li><i class="fa fa-check"></i> Project Management (PMP)</li>
		<li><i class="fa fa-check"></i> IoT Artist (laser/CNC/3D) </li>
		<li><i class="fa fa-check"></i> Kayaker, Mountaineer, Bike Tourist</li>
	      </ul>
	    </div>
	  </div>
	  <!-- END LISTS -->
	</div>
	<!-- END INFO BLOCK -->   


  </div>

  <div class="row margin-bottom-40">

  </div>

      <div class="row front-team">
	<ul class="list-unstyled">
	  <li class="col-md-3">
	    <div class="thumbnail">
              <img src='https://s3-us-west-2.amazonaws.com/davethemaker.com/assets/Lumenary_At_Night_450_450.jpg'>
	      <h3>
		<strong>IoT Artist</strong> 
		<small>Code + IoT => Art and Aesthetic Products</small>
	      </h3>
	      <p>The connection between bits, bytes, and atoms through cloud networking and code. The so-called "Internet of Things" made beautiful and functional.</p>
	    </div>
	  </li>
	  <li class="col-md-3">
	    <div class="thumbnail">
              <img src='https://s3-us-west-2.amazonaws.com/davethemaker.com/assets/Lumenary_At_Night_450_450.jpg'>
	      <h3>
		<strong>Project #2</strong> 
		<small>Upcoming</small>
				</h3>
				<p>MERN cloud-deployed app</p>
	    </div>
	  </li>
	  <li class="col-md-3">
	    <div class="thumbnail">
              <img src='https://s3-us-west-2.amazonaws.com/davethemaker.com/assets/Lumenary_At_Night_450_450.jpg'>
	      <h3>
		<strong>Project #3</strong> 
		<small>Upcoming </small>
				</h3>
				<p>Serverless deployed app on AWS</p>
	    </div>
	  </li>
	  <li class="col-md-3">
	    <div class="thumbnail">
              <img src='https://s3-us-west-2.amazonaws.com/davethemaker.com/assets/Lumenary_At_Night_450_450.jpg'>
	      <h3>
		<strong>Project #4</strong> 
		<small>Upcoming</small>
				</h3>
				<p>Python cloud-deployed app</p>
	    </div>
	  </li>
	</ul>            
      </div>

    </div>
  </div>
  <!-- END CONTENT -->
</div>
<!-- END SIDEBAR & CONTENT -->
