---
layout: index
---
<div class="container-fluid flush-with-header">
  <div class="row margin-bottom-80 row-corporate bg-light-1">
    <div class="container">
      <div class="col-xs-8 col-sm-6 row-corporate-text-container">
	<div class="row-corporate-text">
		<h2><b class="require">Hi, I'm David Eliason.</b></h2>
		<h4 class="require">I believe that each of us can make the world a better place, by being our best selves and by working together using effective models, tools, and strategies.</h3>
		<h4 class="wow fadeIn">I'm inspired by individuals like <a href="https://en.wikipedia.org/wiki/Martin_Luther_King_Jr."> Martin Luther King, Jr</a>, <a href="https://en.wikipedia.org/wiki/Mahatma_Gandhi">Mahatma Gandhi</a>, and <a href="https://en.wikipedia.org/wiki/Yvette_Flunder">Yvette Flunder</a> who have dedicated their lives to something bigger than they are, and used effective methods to make the world better.</h4>
		<h4 class="wow fadeIn">I’ve enjoyed a variety of approaches for making a positive difference, but the external area in which I am most passionate is that of information systems, code, and IoT. </h4>
		<h4 class="require">Here are some of my experiences honing my focus..</h4>
	</div>
      </div>
      <div class="col-xs-4 col-sm-6">
	<img src="https://s3-us-west-2.amazonaws.com/davethemaker.com/assets/David%40AmazonSpheres.png"">
      </div>
    </div>
  </div>
</div>
<div class="container">
    <div class="row service-box margin-bottom-40">

<div class="col-md-4 col-sm-4">
	<div class="service-box-heading">
	  <em><i class="fa fa-location-arrow blue wow rollIn"></i></em>
	  <span>Social Work Project Manager</span>
	</div>
	<p> Helping develop x,y,z resources on-budget and on-time, to help persons with developmental disabilities move from an institutional setting to living independent lives within the community. This was part of my original motivation for learning to code  and build with electronics- the potential for adaptive technologies to empower lives.</p>
	  <img class="img-responsive"
	  src="https://s3-us-west-2.amazonaws.com/davethemaker.com/assets/Group_RCF_400_400.png">
</div>
			
<div class="col-md-4 col-sm-4">
	<div class="service-box-heading">
	  <em><i class="fa fa-check red wow rollIn"></i></em>
	  <span>Paramedic</span>
	</div>
	<p> Following the 9/11 tragedy, I enrolled in an intensive paramedic program through the San Francisco Fire Department. Spent hundreds of hours in intensive training following academic program working with individuals along the full lifespan, helped delivery babies and critical situations in the ER, delivered trauma treatment in the back of a speeding ambulance.</p>
	  <img class="img-responsive"
	  src="https://s3-us-west-2.amazonaws.com/davethemaker.com/assets/SFFD_Rig_Towers_400_400.png">
</div>

 <div class="col-md-4 col-sm-4">
	<div class="service-box-heading">
	  <em><i class="fa fa-compress green wow rollIn"></i></em>
	  <span>Community Organizer, Volunteer</span>
	</div>
	<p>Working with grassroots leadership in Oakland, CA to organize low-income housing ballot initiative. Prepared and delivered food at People’s Park, remodeled homes with Portland’s Habitat For Humanity, served meals at Glide Memorial, did needle exchange services in Berkeley. Helped to build a school in Portugal, and in India.</p>
	  <img class="img-responsive"
	  src="https://s3-us-west-2.amazonaws.com/davethemaker.com/assets/Community_Org_400_400.png">
 </div>
</div>
<div class="row service-box margin-bottom-40">
<div class="col-md-4 col-sm-4">
		<div class="service-box-heading">
			<em><i class="fa fa-compress green wow rollIn"></i></em>
			<span>Paperback IS (Librarian}</span>
		</div>
		<p>Helped to manage information systems in paperback form, ensuring effective use of library resources, optimizing the network between the facility and patrons,
			 optiizing facility configuration, helped to design a better library UI experience to make the library more inclusive and welcoming to the diverse neighborhood community.</p>
			<img class="img-responsive"
			src="">
</div>

<div class="col-md-4 col-sm-4">
		<div class="service-box-heading">
			<em><i class="fa fa-compress green wow rollIn"></i></em>
			<span>Travel & Adventure </span>
		</div>
		<p>Mountaineering</p>
		<p>Kayaking</p>
		<p>Bike touring</p>
		<p>Motorcycle touring</p>
		<p>Australia (or, G'day mate! Circumnavigating a continent with an outstretched thumb, being arrested for train hopping)</p>
		<p>Europe (or, travelling on a Vespa P200 scooter, Getting a Mohawk, Panhandling in London Tube</p>
			<img class="img-responsive"
			src="https://s3-us-west-2.amazonaws.com/davethemaker.com/assets/Austrlia_Hitching_400_400.png">
</div>

<div class="col-md-4 col-sm-4">
		<div class="service-box-heading">
			<em><i class="fa fa-compress green wow rollIn"></i></em>
			<span>Creativity & Art</span>
		</div>
		<p>I am still learning to play the guitar, and still want to play the djembe someday. Was a VJ, helping VJ Luna perform at the Oakland Coliseum for a performance. Working with microcontrollers and electronics to create artistic expression with meaning [ BSG Enigma, Lumenary ]. I have long been a member of the Burning Man community, and love the intersection of art, creative expression, intentionality of models and actions, and community. </p>
			<img class="img-responsive"
			src="">
</div>

    </div>
<div class="container-fluid">
<div class="row margin-bottom-40 row-corporate bg-light-2">
  <div class="container">
    <div class="col-xs-4 col-xs-pull-4 col-sm-pull-0 col-sm-6 wow fadeIn">
      <img src="/metronic/assets/pages/img/frontend-slider/iphone_right.png">
    </div>
    <div class="col-xs-6 row-corporate-text-container">
    <div class="row-corporate-text">
      <h1>I'm committed to making <b class="wow fadeIn require">good</b>.</h1>
      <h4 class="wow fadeIn">At seventeen years of age, I joined a group of volunteers that were building a school in a rural Indian village. Working with that group towards a common goal cemented my interest in collaborative team efforts towards a shared goal,
				 and the dire suffering and poverty that I witnessed created a deeply-rooted desire to work with, and for, the marginalized. 
				 Though my career path has zigzagged from first-responder paramedic, social work project manager, librarian, community organizer, to technologist,
					that desire to contribute in meaningful ways has always remained a constant for me over the years. </h4>
					<h4 class="wow fadeIn">I believe that IS will continue to grow and people who want to make effective positive change must laern to use these tools effectively.</h4>
    </div>
    </div>
  </div>
</div>
</div>

    <!-- BEGIN RECENT WORKS -->
    <div class="row recent-work margin-bottom-40">
      <div class="col-md-3">
		<h2 class="wow fadeIn"><a href="/projects/">Recent Work</a></h2>
			<p class="wow fadeIn">I've literally got my hands full with:
				<ul>
					<li>a computer mouse as I design a prototype design</li>
					<li>work with handtools to hammer and glue pieces together </li>
					<li>work with a laser-cutter to create the pieces I've designed</li>
					<li>piece together, solder, and otherwise wrestle electronics together</li>
				</ul>
				<p class="wow fadeIn">I'm also learning Python along with the Raspberry Pi. And coding - I enjoy improving my Javascript coding skills in Node and React.js, too, especially in relation to Cloud Microserves and Platform. </p>
			</p>
    </div>
  <div class="col-md-9">
	<div class="owl-carousel owl-carousel3">
	  <div class="recent-work-item">
	    <em>
	      <img src="https://s3-us-west-2.amazonaws.com/davethemaker.com/assets/Favorite_Books_400_400.png" alt="Amazing Project" class="img-responsive">
	      <a href="portfolio-item.html"><i class="fa fa-link"></i></a>
	      <a href="https://s3-us-west-2.amazonaws.com/davethemaker.com/assets/Favorite_Books_400_400.png" class="fancybox-button" title="Favorite Books App" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
	    </em>
	    <a class="recent-work-description" href="/projects/#project1">
	      <strong>AWS Cloud Native app</strong>
	      <b>Under construction</b>
	    </a>
	  </div>
	  <div class="recent-work-item">
	    <em>
	      <img src="https://s3-us-west-2.amazonaws.com/davethemaker.com/assets/Lumenary_At_Night_450_450.jpg" alt="Lumenary" class="img-responsive">
	      <a href="http://david-made.com/2019/02/15/Lumenary/"><i class="fa fa-link"></i></a>
	      <a href="https://s3-us-west-2.amazonaws.com/davethemaker.com/assets/Lumenary_At_Night_450_450.jpg" class="fancybox-button" title="Lumenary" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
	    </em>
	    <a class="recent-work-description" href="http://david-made.com/2019/02/15/Lumenary">
	      <strong>Lumenary</strong>
	      <b>Festival of Lights [ Code/IoT/Mixed Media. 2019 ]</b>
	    </a>
	  </div>
	  <div class="recent-work-item">
	    <em>
	      <img src="https://s3-us-west-2.amazonaws.com/davethemaker.com/assets/OpenRoad_art.png" alt="Open Road" class="img-responsive">
	      <a href="http://david-made.com/2013/06/15/Open-Road/"><i class="fa fa-link"></i></a>
	      <a href="https://s3-us-west-2.amazonaws.com/davethemaker.com/assets/OpenRoad_art.png" class="fancybox-button" title="Open Road" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
	    </em>
	    <a class="recent-work-description" href="http://david-made.com/2013/06/15/Open-Road/">
	      <strong>Open Road</strong>
	      <b> A personal piece representing the freedom of the open road. [ Laser-cut, acrylic ]</b>
	    </a>
	  </div>
	  <div class="recent-work-item">
	    <em>
	      <img src="metronic/assets/pages/img/works/img4.jpg" alt="Amazing Project" class="img-responsive">
	      <a href="portfolio-item.html"><i class="fa fa-link"></i></a>
	      <a href="metronic/assets/pages/img/works/img4.jpg" class="fancybox-button" title="Project Name #4" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
	    </em>
	    <a class="recent-work-description" href="/projects/#project1">
	      <strong>Amazing Project</strong>
	      <b>Agenda corp.</b>
	    </a>
	  </div>
	  <div class="recent-work-item">
	    <em>
	      <img src="metronic/assets/pages/img/works/img5.jpg" alt="Amazing Project" class="img-responsive">
	      <a href="portfolio-item.html"><i class="fa fa-link"></i></a>
	      <a href="metronic/assets/pages/img/works/img5.jpg" class="fancybox-button" title="Project Name #5" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
	    </em>
	    <a class="recent-work-description" href="/projects/#project1">
	      <strong>Amazing Project</strong>
	      <b>Agenda corp.</b>
	    </a>
	  </div>
	  <div class="recent-work-item">
	    <em>
	      <img src="metronic/assets/pages/img/works/img6.jpg" alt="Amazing Project" class="img-responsive">
	      <a href="portfolio-item.html"><i class="fa fa-link"></i></a>
	      <a href="metronic/assets/pages/img/works/img6.jpg" class="fancybox-button" title="Project Name #6" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
	    </em>
	    <a class="recent-work-description" href="/projects/#project1">
	      <strong>Amazing Project</strong>
	      <b>Agenda corp.</b>
	    </a>
	  </div>
	  <div class="recent-work-item">
	    <em>
	      <img src="metronic/assets/pages/img/works/img3.jpg" alt="Amazing Project" class="img-responsive">
	      <a href="portfolio-item.html"><i class="fa fa-link"></i></a>
	      <a href="metronic/assets/pages/img/works/img3.jpg" class="fancybox-button" title="Project Name #3" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
	    </em>
	    <a class="recent-work-description" href="/projects/#project1">
	      <strong>Amazing Project</strong>
	      <b>Agenda corp.</b>
	    </a>
	  </div>
	  <div class="recent-work-item">
	    <em>
	      <img src="metronic/assets/pages/img/works/img4.jpg" alt="Amazing Project" class="img-responsive">
	      <a href="portfolio-item.html"><i class="fa fa-link"></i></a>
	      <a href="metronic/assets/pages/img/works/img4.jpg" class="fancybox-button" title="Project Name #4" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
	    </em>
	    <a class="recent-work-description" href="/projects/#project1">
	      <strong>Amazing Project</strong>
	      <b>Agenda corp.</b>
	    </a>
	  </div>
	</div>       
      </div>
    </div>   
    <!-- END RECENT WORKS -->

    <!-- BEGIN BLOCKQUOTE BLOCK -->   
    <div class="row quote-v1 margin-bottom-40 ">
      <div class="col-md-9">
	<span>David Eliason - Coder, Maker, IoT artist</span>
      </div>
      <div class="col-md-3 text-right">
	<a class="btn-transparent" href="https://www.linkedin.com/in/davideliason/" target="_blank"><i class="fa fa-rocket margin-right-10"></i>LinkedIn</a>
      </div>
    </div>
    <!-- END BLOCKQUOTE BLOCK -->

  </div>
</div>

