---
layout: index
---
<div class="container-fluid flush-with-header">
  <div class="row margin-bottom-40 row-corporate bg-light-1">
    <div class="container">
      <div class="col-xs-8 col-sm-6 row-corporate-text-container">
	<div class="row-corporate-text">
		<h1>David Eliason </h1>
		<h2><i><b class="require">Dave the Maker</b></i></h2>
	  <h4 class="wow fadeIn">I like making good, using a wide variety of tools.</h4>
	</div>
      </div>
      <div class="col-xs-4 col-sm-6">
	<img src="/metronic/assets/pages/img/frontend-slider/ipadmini.png">
      </div>
    </div>
  </div>
</div>
<div class="container">
    <div class="row service-box margin-bottom-40">
      <div class="col-md-4 col-sm-4">
	<div class="service-box-heading">
	  <em><i class="fa fa-location-arrow blue wow rollIn"></i></em>
	  <span>Web Developer/Coder</span>
	</div>
	<p> I build full-stack web applications, using MongoDB, Express, React, and Node (MERN stack). Python. Deployed hybrid or cloud-native.</p>
	  <img class="img-responsive"
	  src="/Python_MERN_300_300.png">
      </div>
      <div class="col-md-4 col-sm-4">
	<div class="service-box-heading">
	  <em><i class="fa fa-check red wow rollIn"></i></em>
	  <span>IoT/Artist/Prototypist</span>
	</div>
	<p>From conceptualization, idea formation, prototyping, to production using 3D, laser-cutter, CNC tools and techniques.</p>
	  <img class="img-responsive"
	  src="/IoTMaker300_300.png">
      </div>
      <div class="col-md-4 col-sm-4">
	<div class="service-box-heading">
	  <em><i class="fa fa-compress green wow rollIn"></i></em>
	  <span>Project Management</span>
	</div>
	<p>Leadership skills in moving a project forward. PMP.</p>
	  <img class="img-responsive"
	  src="/PMP_300_300.png">
      </div>
    </div>
    </div>
<div class="container-fluid">
<div class="row margin-bottom-40 row-corporate bg-light-2">
  <div class="container">
    <div class="col-xs-4 col-xs-pull-4 col-sm-pull-0 col-sm-6 wow fadeIn">
      <img src="/metronic/assets/pages/img/frontend-slider/iphone_right.png">
    </div>
    <div class="col-xs-6 row-corporate-text-container">
    <div class="row-corporate-text">
      <h1>I'm committed to making <b class="wow fadeIn require">good</b>.</h1>
      <h4 class="wow fadeIn">From building schools in rural India, serving marginalizated populations in San Francisco as a first-responder/paramedic, to working to develop homes so that persons with developmental disabilities within an instituional setting can live in the community, it's important for me to make a positive difference.</h4>
    </div>
    </div>
  </div>
</div>
</div>

    <!-- BEGIN RECENT WORKS -->
    <div class="row recent-work margin-bottom-40">
      <div class="col-md-3">
	<h2 class="wow fadeIn"><a href="/projects/">Recent Work</a></h2>
	<p class="wow fadeIn">I'm currently learning Python and Machine Learning in preparation for the MSIS program at UW.</p>
      </div>
      <div class="col-md-9">
	<div class="owl-carousel owl-carousel3">
	  <div class="recent-work-item">
	    <em>
	      <img src="metronic/assets/pages/img/works/img1.jpg" alt="Amazing Project" class="img-responsive">
	      <a href="portfolio-item.html"><i class="fa fa-link"></i></a>
	      <a href="metronic/assets/pages/img/works/img1.jpg" class="fancybox-button" title="Project Name #1" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
	    </em>
	    <a class="recent-work-description" href="/projects/#project1">
	      <strong>AWS Cloud Native app</strong>
	      <b>Under construction</b>
	    </a>
	  </div>
	  <div class="recent-work-item">
	    <em>
	      <img src="https://s3-us-west-2.amazonaws.com/davethemaker.com/assets/Lumenary_At_Night_450_450.jpg" alt="Lumenary" class="img-responsive">
	      <a href="http://david-made.com/2019/02/15/Lumenary/"><i class="fa fa-link"></i></a>
	      <a href="https://s3-us-west-2.amazonaws.com/davethemaker.com/assets/Lumenary_At_Night_450_450.jpg" class="fancybox-button" title="Lumenary" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
	    </em>
	    <a class="recent-work-description" href="/projects/#project1">
	      <strong>Lumenary</strong>
	      <b><a href="http://david-made.com/2019/02/15/Lumenary/">Festival of Lights(2019</a></b>
	    </a>
	  </div>
	  <div class="recent-work-item">
	    <em>
	      <img src="https://s3-us-west-2.amazonaws.com/davethemaker.com/assets/Lumenary_At_Night_450_450.jpg" alt="Amazing Project" class="img-responsive">
	      <a href="portfolio-item.html"><i class="fa fa-link"></i></a>
	      <a href="metronic/assets/pages/img/works/img3.jpg" class="fancybox-button" title="Project Name #3" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
	    </em>
	    <a class="recent-work-description" href="/projects/#project1">
	      <strong>Amazing Project</strong>
	      <b>Agenda corp.</b>
	    </a>
	  </div>
	  <div class="recent-work-item">
	    <em>
	      <img src="metronic/assets/pages/img/works/img4.jpg" alt="Amazing Project" class="img-responsive">
	      <a href="portfolio-item.html"><i class="fa fa-link"></i></a>
	      <a href="metronic/assets/pages/img/works/img4.jpg" class="fancybox-button" title="Project Name #4" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
	    </em>
	    <a class="recent-work-description" href="/projects/#project1">
	      <strong>Amazing Project</strong>
	      <b>Agenda corp.</b>
	    </a>
	  </div>
	  <div class="recent-work-item">
	    <em>
	      <img src="metronic/assets/pages/img/works/img5.jpg" alt="Amazing Project" class="img-responsive">
	      <a href="portfolio-item.html"><i class="fa fa-link"></i></a>
	      <a href="metronic/assets/pages/img/works/img5.jpg" class="fancybox-button" title="Project Name #5" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
	    </em>
	    <a class="recent-work-description" href="/projects/#project1">
	      <strong>Amazing Project</strong>
	      <b>Agenda corp.</b>
	    </a>
	  </div>
	  <div class="recent-work-item">
	    <em>
	      <img src="metronic/assets/pages/img/works/img6.jpg" alt="Amazing Project" class="img-responsive">
	      <a href="portfolio-item.html"><i class="fa fa-link"></i></a>
	      <a href="metronic/assets/pages/img/works/img6.jpg" class="fancybox-button" title="Project Name #6" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
	    </em>
	    <a class="recent-work-description" href="/projects/#project1">
	      <strong>Amazing Project</strong>
	      <b>Agenda corp.</b>
	    </a>
	  </div>
	  <div class="recent-work-item">
	    <em>
	      <img src="metronic/assets/pages/img/works/img3.jpg" alt="Amazing Project" class="img-responsive">
	      <a href="portfolio-item.html"><i class="fa fa-link"></i></a>
	      <a href="metronic/assets/pages/img/works/img3.jpg" class="fancybox-button" title="Project Name #3" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
	    </em>
	    <a class="recent-work-description" href="/projects/#project1">
	      <strong>Amazing Project</strong>
	      <b>Agenda corp.</b>
	    </a>
	  </div>
	  <div class="recent-work-item">
	    <em>
	      <img src="metronic/assets/pages/img/works/img4.jpg" alt="Amazing Project" class="img-responsive">
	      <a href="portfolio-item.html"><i class="fa fa-link"></i></a>
	      <a href="metronic/assets/pages/img/works/img4.jpg" class="fancybox-button" title="Project Name #4" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
	    </em>
	    <a class="recent-work-description" href="/projects/#project1">
	      <strong>Amazing Project</strong>
	      <b>Agenda corp.</b>
	    </a>
	  </div>
	</div>       
      </div>
    </div>   
    <!-- END RECENT WORKS -->

    <!-- BEGIN BLOCKQUOTE BLOCK -->   
    <div class="row quote-v1 margin-bottom-40 ">
      <div class="col-md-9">
	<span>David Eliason - Coder, Maker, IoT artist</span>
      </div>
      <div class="col-md-3 text-right">
	<a class="btn-transparent" href="https://www.linkedin.com/in/davideliason/" target="_blank"><i class="fa fa-rocket margin-right-10"></i>LinkedIn</a>
      </div>
    </div>
    <!-- END BLOCKQUOTE BLOCK -->

  </div>
</div>

